{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="aboutbox">
    <header class="blogheader">
        <h1>About Us</h1>
    </header>
    <pre class="text">
<p class="abouttitle">Tạo nên sự thay đổi / Inspiring Change</p>

Xây dựng dựa trên sự hiểu biết về nhu cầu được lắng nghe, thấu hiểu của con người, dự án cung cấp
một nền tảng blog nơi người dùng có thể chia sẻ những trải nghiệm của chính bản thân.

Nơi bạn có thể tìm thấy sự tương đồng về mặt cảm xúc, người bạn tâm giao để chia sẻ nỗi buồn... và
niềm cảm hứng để thay đổi tốt hơn mỗi ngày.

Trang web liên kết với những bài báo, blog, podcast được kiểm định từ những nguồn khác nhau giúp
bạn có nguồn tham khảo chất lượng về những vấn đề tâm lí cỡ bản và tiến sâu hơn trong hành trình
khám phá bản thân.

<p class="line">_______________________________________________________________________________</p>

Empowered by the understanding of the human need to be heard and understood, this project offers
a blog platform where users can share their personal stories.

A space where you can find emotional connections, a kindred spirit to share your burdens... and
the motivation to change for the better each day. 

The website links to vetted articles, blogs, and podcasts from a variety of sources, providing
you with high-quality resources on personal mental health issues and helping you delve deeper
into your self-discovery journey.
    </pre>
</div>
{% endblock %}